@import "variables";

.setItem {
	border-top: 1px solid grey;
	padding: 0.5em 1em;
	box-sizing: border-box;
	&:last-of-type {
		border-bottom: 1px solid grey;
	}
	&:first-of-type {
		border-top: none;
	}
	a {
		color: $primaryColor;
		text-decoration: none;
	}
}