@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	margin: 0;
	background-color: $secondaryColor;
	color: $primaryColor;
	font-family: "Ubuntu";
}

header {
	border-bottom-color: $highlightColor;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 3em;
	line-height: 3em;
	.profileImage {
		display: inline-block;
	}
}

.drawer {
	border-top-color: $highlightColor;
	border-top-width: 1px;
	border-top-style: solid;
	padding: 0 1em;
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3em;
	&__iconList {
		display: flex;
		list-style: none;
		justify-content: space-between;
		height: 100%;
		align-items: center;
		margin: 0;
		padding: 0;
		li a {
			color: $primaryColor;
			text-decoration: none;
		}
	}
}

.profileImage {
	height: 1.5em;
	width: auto;
	border-radius: 50%;
}